{% load django_bootstrap5 %}

{% if films %}
    <div class="{% if request.user.profile.catalog_view == 'grid' %}row grid-view{% else %}list-view{% endif %}">
        {% for film in films %}
            <div class="{% if request.user.profile.catalog_view == 'grid' %}col-md-3{% else %}col-12{% endif %} py-2">
                {% include "films/film.html" with film=film %}
            </div>
        {% endfor %}
    </div>
    <div class="my-4">
        {% bootstrap_pagination films %}
    </div>
{% else %}
    <div class="alert alert-info">Фильмы не найдены</div>
{% endif %}